img {
  width: 100%;
  height: 170px;
  object-fit: contain;
  /* height: 80%; */
  /* overflow: hidden; */
}
h6,
p {
  margin: 1px;
}
.card {
  /* height: 320px; */
  width: 70%;
  /* width: 230px; */
  /* height: 50%; */
}
.card-body {
  padding: 5px;
}
